.menu{
    width: 100%;
    height: 95px;
    background-color: #1b0088;
    border-top:20px;
    margin-top: 20px;
    padding-left: 0;
 
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }

.opcionesmenu{
    
    width: 55%;
    float: right;
    position: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    height: 140px;
    
}



.logo {
    
    width: 18%;
    padding-left: 250px;
    float: left;
}

.opcionesmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.opcionesmenu li {
    float: right;
}

.opcionesmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.intermedio{
    
    width: 100%;
    height: 30px;
    background-color: white;
    border-top:20px;
    margin-top: 20px;
    padding-left: 0;
}

.formulario{
    display:inline-block;
    text-align:center;
}

.opciones .botonopcion{
    display: block;   
}

.botonopcion {
    background-color: #1b0088;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    height: 45px;
    border-color: white;
}

.formulario{
    
  display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    justify-content: center;
    align-items: center;
    
}

.contenido{
margin: 20px 20px 20px 20px ;

}

.footer{
    margin: 20px 20px 20px 20px ;
    /*width: 100%;
    */height: center;
    background-color: #1b0088;
    /*border-top:20px;
    margin-top: 20px;
    padding-left: 0;
    */
}

.footer p{
    
    text-align: center;
    color: white;
}

.footer .content{
    
    background-color: #EDEDED;
    height: auto;
    
}






